$dfx-color:	#84b231;
$dfx-grau: #818181;
$dfx-body-bg: #FFF; // fCfCff
$dfx-font-type: inherit;
$dfx-font-color: #333;
$dfx-font-size: 1rem;

$dfx-border-radius:			3px;
$dfx-border-radius-large: 	4px;
$dfx-border-radius-small:	2px;
@import 'bootstrap';

