###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/.idea
**/.idea/
/config/secrets/prod/prod.decrypt.private.php
/config/datefix.yaml
/web/cache/**
!/web/cache/.gitkeep
/web/images/custom/**
!/web/images/custom/.gitkeep
/web/images/dfx/**
!/web/images/dfx/.gitkeep
/web/pdf/dfx/**
!/web/pdf/dfx/.gitkeep
/web/media/dfx/**
!/web/media/dfx/.gitkeep
/web/exports/**
!/web/exports/.gitkeep
/web/css/own/**
!/web/css/own/.gitkeep
/web/scss/own/**
!/web/scss/own/.gitkeep
/var/cache/**
!/var/cache/.gitkeep
/var/log/**
!/var/log/.gitkeep
/vendor/
/migrations/
!templates/custom/**
!templates/**/custom/**
/tests/
/phpstan.neon
/rector.php
/codex_server.txt
/codex_server_datenschutz.txt
/scripts/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> liip/imagine-bundle ###
/web/media/cache/
###< liip/imagine-bundle ###
