{% extends 'Admin/base_pdf.html.twig' %}
{% if termin.datum == termin.datumVon %}
	{% set strDate =  termin.datumVon|date('d.m.Y') %}
{% else %}	
	{% set strDate = termin.datumVon|date('m.d.Y') ~ ' bis '|trans ~ termin.datum|date('m.d.Y') %}
{% endif %}	
{% set strTime = termin.zeit != NULL ? "#{ termin.zeit|date('H:i') } Uhr" : "" %}

{% block title 'Reservierungen' %}
{% block pageheader 'Reservierungen' %}
{% block subheader "#{ termin.titel|raw ~', ' ~  strDate ~ ' ' ~ strTime }" %}
{% block body -%}
     <table cellspacing="0">
        <thead>
            <tr>
            	<th style="width:80mm">Name, Vorname</th>
            	<th style="width:70mm">Ort</th>
            	<th style="width:10mm;text-align:right">Plätze</th>
            </tr>
        </thead>
        <tbody>
		{% for reservierung in reservierungen %}
			 <tr>
                <td>{{ reservierung.nachname }}, {{ reservierung.vorname }}</td>
                <td>{{ reservierung.ort  }}</td>
                <td style="text-align:right">{{ reservierung.anzahl  }}</td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}  
