{% block body %}
<h3>Veranstaltung gelöscht</h3>	
Die Veranstaltung "{{ entity.titel }}" wurde erfolgreich gelöscht.<br>
<div class="back-to-list"><a href="{{ konf.frontendUrl}}">{{'zurueck zur liste'|trans}}</a></div>
{% endblock %}

