<hr>
<div style="display:table-cell; vertical-align:bottom"><img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/custom/fusszeile.png' }}" style="width:100%" alt="Logos Unterstützer"></div>
<hr>