{% block dfx_news %}
	{% set artikel = artikel is defined ? artikel : (newsItem is defined ? newsItem : null) %}
	{% set konf = artikel.datefix %}
	{% set strDate =  artikel.datumInput|date('d.m.Y') %}
	{% set strMetadate = artikel.datumInput|date('Y-m-d') %}

    {% set strLogoUrl = konf.imgLogo is not null ? '<img class="pdf-logo" src="'  ~ absolute_url(asset('/images/dfx/' ~ konf.id ~ '/' ~ konf.imgLogo)) ~ '" />':NULL %}
	{% set strLogo = strLogoUrl %}

	{% set detailbild = {"thumbnail": {"size": [konf.imgWidth,konf.imgHeight] }} %}
	{% if artikel.img != NULL %}
        {% set strImgUrl = '<img class="dfx-image dfx-detail-image" src="' ~ absolute_url(asset('/images/dfx/' ~ artikel.datefix.id ~ '/' ~ artikel.img)) ~ '" />' %}
		{% set strImg = strImgUrl %}
    {% else %}
		{% set strImg = NULL %}
		{% set strImgUrl = NULL %}
	{%  endif %}
	{% set strImg = artikel.imgtext is not null ? strImg  ~ '<p class="pdf-bu">' ~ artikel.imgtext  ~ '</p>' : strImg %}
    {% set strImgUrl = artikel.imgtext is not null ? strImgUrl  ~ '<p class="pdf-bu">' ~ artikel.imgtext  ~ '</p>' : strImgUrl %}
	{% set strKurztext = artikel.kurztext is not null ? artikel.kurztext : "" %}
	{% set strText = artikel.beschreibung is not null ? artikel.beschreibung : null %}
	{% if artikel.pdf is not null %}
		{% set pdfInfo =  'pdf download'|trans ~ ': <a href="' ~ datefix_url ~ '/pdf/dfx/' ~ konf.id ~ '/' ~ artikel.pdf ~'">' ~ datefix_url ~ '/pdf/dfx/' ~ konf.id ~ '/' ~ artikel.pdf ~'</a>' %}
	{%  else %}
		{% set pdfInfo =  NULL %}
	{%  endif %}
	{% set infolink = artikel.link is not null ? 'Weitere Informationen'|trans  ~ ': <a href = "' ~ artikel.link  ~ '">' ~ artikel.link ~ '</a>' : NULL %}

	{{ block('dfx_news_detail') }}
{% endblock %}
