{% extends 'Admin/base_admin.html.twig' %}
{% block title %}Datefix Installation{% endblock %}
{% block pageheader %}INSTALLATION{% endblock %}
{% block subheader %}Schritt 2: Superadmin-Account{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-7">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
