{% extends 'Admin/' ~ backend ~ 'base_admin.html.twig' %}

{% block title 'Datefix Administration' %}

{% block body %}
 
    <h1>CSS-Dateien mit eigenen Farbwerten neu geschrieben</h1>
    {{ msg|raw }}
   
{% endblock %}


